body {
   margin: 0;
   font-family: Arial;
}
.post-list {
   display: grid;
   grid-template-columns: repeat(3, minmax(100px, 293px));
   justify-content: center;
   grid-gap: 28px;
}
.post {
   cursor: pointer;
   position: relative;
   /* width: 200px; */
   display: block;
   /* height: 220px; */
   border: 1px solid red;

}
.post-img {
  margin: 0; 
}
.post-img img {
   width:100%;
   vertical-align: top;
}
.post-overlay {
   background:rgba(0, 0, 0, .4) ;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   display: none;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
}
.post:hover .post-overlay {
   display: flex;
}
.post-like,
.post-com {
   width: 80px;
   margin: 5px;
   font-weight: bold;
   text-align: center;
   display: inline-block;
}
@media screen and (max-width:768px) {
.post-list{
   grid-gap: 3px;
 }
}
      