      body {
   background: rgb(238,174,202);
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   font-family: 'Courier New', Courier, monospace;
   /* margin: 0; */
}
      .container {
 display: grid;
 /* grid-template-columns: 25% 200px 25%; */
 /* grid-template-rows: 100px 200px 25% 100p*/
 /* grid-template: rows / columns */
 /* grid-template: 100px 100px 100px 100px / repeat(4, minmax(200px, 1fr)); */
 grid-template: 60px 1fr 1fr / 100px 1fr;
 /* grid-column-gap: 10px;
    grid-row-gap: 20px ; */
 /* grid-gap: filas columnas ; */
 /* grid-gap: 10px; */
 height: 100vh;
 grid-template-areas: "header header"
                      "left contenido"
                      "left contenido" ;
}
  .header {
         display: flex;
         color: white;
         grid-area: header;
         background-color:rgb(81, 142, 207) ;
         /* border-radius: 10px; */
         text-align: center;
         /* line-height: 100px; */
         font-weight: bold;
         position: relative;
         justify-content: space-between;
      }
      .header-menu {
         width:50px;
         position: relative;
      }
      .header-img {
         position: relative;
         
      }
      .logo {
         position: absolute;
         left: -4px;
         top: -82px;
      }
      .arrow {
         /* width: 100%; */
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .left {
         grid-area: left;
         background-color:rgb(234, 112, 46) ;
         /* border-radius: 10px; */
         text-align: center;
         color: white;
         line-height: 165px;
         font-weight: bold;
      }
      .contenido {
         grid-area: contenido;
         background-color:rgb(156, 154, 156) ;
         /* border-radius: 10px; */
         text-align: center;
         color: white;
         line-height: 165px;
         font-weight: bold;
      }
   