      body {
   background: rgb(238,174,202);
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   font-family: 'Courier New', Courier, monospace;
   margin: 0;
}
      .container {
 display: grid;
 /* grid-template-columns: 25% 200px 25%; */
 /* grid-template-rows: 100px 200px 25% 100p*/
 /* grid-template: rows / columns */
 /* grid-template: 100px 100px 100px 100px / repeat(4, minmax(200px, 1fr)); */
 grid-template: 100px 100px 100px 100px / minmax(200px, 1fr) repeat(2, 1fr);
 /* grid-column-gap: 10px;
    grid-row-gap: 20px ; */
 /* grid-gap: filas columnas ; */
 grid-gap: 10px;
}

      .item {
background-color: lightblue;
padding: 10px;
border: 1px solid red;
}
      .item:nth-of-type(5) {
         background-color: red;
         overflow: auto;
         display: grid;
         /* display: inline-grid; */
         grid-template: 50px 50px / 50px 50px 50px;
      }
      .item .item {
         background-color: yellow;
      }